# --- PORTS ---
GATEWAY_PORT=3000
AUTH_PORT=3001
URL_BUILDER_PORT=3002
EMAIL_PORT=3003

# --- DATABASES & QUEUES ---
# Note: Inside Docker, we use the container name 'mongo', not 'localhost'
MONGO_URI=mongodb://mongo:27017/nexaminds_db
# Note: Inside Docker, we use 'rabbitmq'
RABBITMQ_URL=amqp://rabbitmq:5672

# --- SECURITY ---
JWT_SECRET=YourSuperSecretComplexPassword123!

# --- SERVICE DISCOVERY (Docker Internal URLs) ---
AUTH_SERVICE_URL=http://auth-service:3001
EMAIL_SERVICE_URL=http://email-service:3003